body { 
    background-color: black;
    text-align: center;
    color: white;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boton {
    background-color: blueviolet;
    text-size-adjust: 30px;
}





