<%- include('includes/header.ejs') %>

<% if (cachorritos.length > 0) { %> 
    <% for (let cachorrito of cachorritos) { %> 
        <div class="card" style="width: 18rem;">
            <img src="<%= cachorrito.Foto %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><%= cachorrito.Nombre %></p>
            </div>
          </div>
    <% } %>
<% } else { %>
    <h3>No tenemos cachorritos</h3>
<% } %>

<% if (ultimo_perro != '') { %>
  <p>El último cachorrito fue: <%= ultimo_perro %> </p>
<% } %>
</div>
<a href="/perros/nuevo">Agregar un nuevo Cachorrito</a>
</main>